.site-content {
    width: 100%;
    height: 100%;
    background-color: #E7EEF1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px;
    background-color: #ffffff;

    .header-left {
        height: 50px;        
        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }
        .subtitle {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: #787878;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 50px;
        i {
            width: 24px;
            height: 24px;
            font-size: 24px;
            color: #125D79;
        }
    }    
}

.btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #125D79;
    border: 1px solid #125D79;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    width: 109px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: #125D79;
        color: #ffffff;
    }
}

.round {
    border-radius: 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;

    .profile-image {
        display: flex;        
        i {
            fill: #125D79;
            position: absolute;
            margin: 24px 0 0 28px;       
        }
    }

    img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid #125D79;
    }
}

.progress-container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 111px;
    padding-top: 20px;
    gap: 100px;

    .progress-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #C6CED1;    
        font-size: 14px;
    }
    
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #C6CED1;
        background-color: #C6CED1;
    }
    
    .progress-line {
        width: 512px;
        height: 2px;
        background-color: #C6CED1;
        margin-bottom: 32px;
        position: absolute;        
    }

    span {
        font-size: 14px;
        font-weight: 400;
        padding-top: 18px;
    }
    
    .active .circle {
        border-color: #165C7D;
        background-color: #E7EEF1;
    }
    
    .active span {
        color: #004466;
    }
}

.content-data {
    display: flex;
    flex-direction: column;
    padding: 8px 0 0 24px;

    .title {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        color: #101213;
    }
    .subtitle {
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
        color: #4F575E;
        max-width: 542px;
    }

    .section-cpf {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-top: 24px;

        .label {
            font-weight: 600;
            font-size: 14px;
            line-height: 19.07px;
            letter-spacing: 0%;
        }

        .input-cpf {
            border: 1px solid #889499;
            border-radius: 2px;
            color: #165C7D;
            width: 270px;
            height: 30px;
            font-size: 14px;
            line-height: 19.07px;
            padding: 0 8px;
        }

        input::placeholder {
            color: #889499;
        }

        .section-input {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .btn {
            border: none;
            border-radius: 2px;
            width: 172px;
            height: 34px;
            font-weight: 600;
            font-size: 14px;
            background-color: #165C7D;  
            color: #ffffff;
            cursor: pointer;            
        }

        .locked {
            background-color: #A2BECB;                  
            color: #ffffff;
        }
    } 
    
    .error-cpf {
        display: flex;
        color: red;
        font-size: 14px;
        padding-top: 4px;
    }

    .container-result {
        display: flex;
        gap: 24px;
        padding: 24px 0;
    }

    
}




